name: Rapadura Cosmica

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --future"

  
  deploy-dev:
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: 'rapaduracosmicateste.com'
    needs: build
    steps:
      - name: Run a one-line script
        run: echo Deploy dev
        
  deploy-prod:
    runs-on: ubuntu-latest
    environment:
      name: prod
      url: 'rapaduracosmicateste.com'
    needs: build
    steps:
      - name: Run a one-line script
        run: echo Deploy prod
